.fourth__container {
  margin: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr);
  gap: 20px; /* Optional: Add some gap between the items */
}
.fourth__container .box {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth__container:nth-child(1) {
}
.fourth__container .box .box__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
}
.fourth__container .box .box__content h4 {
  font-size: 2rem;
}
.fourth__container .box .box__content p {
  font-size: 1.1rem;
  margin: 1rem 0;
}
.fourth__container .box .box__image__container {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 50%;
}
.fourth__container .box .box__image__container img {
}

.fifth__section {
  background-image: url("../assets/images/design-space-decorated-with-leaves-website-banner-template\ 1.png");
  background-repeat: no-repeat;
  background-size: cover; /* Adjusts the image size to cover the entire container */
  background-position: center; /* Centers the image within the container */
  min-height: 35rem;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 25rem;
  position: relative;
}

.fifth__section h3 {
  padding-top: 3rem;
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}
.fifth__section p {
  font-size: 1.7rem;
  margin: 1rem 0;
}

.fifth__section button {
  margin: 1rem 0;
}

.fifth__section .left_img {
  position: absolute;
  rotate: 340deg;
  left: 15rem;
}
.fifth__section .right_img {
  position: absolute;
  rotate: 20deg;
  right: 15rem;
}

.sixth__section {
  display: flex;
  margin: 4rem;
  /* padding: 0 5rem; */
  justify-content: space-between;

  align-items: center;
}
.sixth__section .content {
  width: 50%;
}
.sixth__section .content h2 {
  font-size: 4rem;
}
.sixth__section .content button {
  font-size: 0.9em;
  width: 10rem;
  margin-top: 3rem;
  padding: 0.7rem 1rem;
}
.sixth__section .content .flex p {
  color: var(--primary);
}
.sixth__section .image__container,
.sixth__section .content {
}
.sixth__section .image__container .secondary {
  padding: 1rem;
  background-color: var(--color5);
  border-radius: 50%;
  position: absolute;
  bottom: -1rem;
  left: 0;
}
.seventh__container {
  background: url("../assets/images/seenthimg.png");
  background-color: var(--color11);
  min-height: 40vh;
}
.seventh__container .seventh__container__content .input__span input {
  padding: 0.8rem 2rem;
  font-size: 1.3rem;
  width: 100%;
  border-radius: 200px;
  outline: none;
  border: none;
}

.seventh__container .seventh__container__content .input__span .input__button {
  background-color: var(--primary);
  position: absolute;
  right: 0;
  top: -1.1rem;

  padding: 1rem 2rem;
  border-radius: 50px;
  color: var(--textColor);
  font-weight: bold;
}

.seventh__container .seventh__container__content h3 {
  font-size: 3.5rem;
  text-align: center;
}
.seventh__container .seventh__container__content p {
  font-size: 1.3rem;
  margin: 1rem 0;
  text-align: center;
  margin-bottom: 4rem;
}
